.buttons {
  .btn {
    @include children-margin;
  }
}

.btn {
  font-size: 18px;

  &:focus {
    box-shadow: none !important;
  }

  &:active {
    box-shadow: none !important;

    &:focus {
      box-shadow: none !important;
    }
  }
}

.btn.btn-icon-split i, .dropdown-item.has-icon i {
  text-align: center;
  width: 15px;
  font-size: 15px;
  float: left;
  margin-right: 10px;
}

.btn-light, .btn-light.disabled {
  @include button-shadow(light, 1%);
  background-color: color(light);
  border-color: color(light);
  color: color(dark);

  &:hover, &:focus, &:active {
    background-color: color_darken(light, 10%) !important;
  }
}

.btn-outline-light, .btn-outline-light.disabled {
  border-color: color(light);
  color: color(light);

  &:hover, &:focus, &:active {
    background-color: color(light) !important;
    color: #fff !important;
  }
}



.btn-primary, .btn-primary.disabled {
  @include button-shadow(primary);
  background-color: color(primary);
  border-color: color(primary);

  &:focus {
    background-color: color_darken(primary, 10%) !important;

    &:active {
      background-color: color_darken(primary, 10%) !important;
    }
  }

  &:active, &:hover {
    background-color: color_darken(primary, 10%) !important;
  }
}

.btn-outline-primary, .btn-outline-primary.disabled {
  border-color: color(primary);
  color: color(primary);

  &:hover, &:focus, &:active {
    background-color: color(primary) !important;
    color: #fff;
  }
}

.btn-outline-white, .btn-outline-white.disabled {
  border-color: #fff;
  color: #fff;

  &:hover, &:focus, &:active {
    background-color: #fff;
    color: color(primary);
  }
}

.btn-round {
  border-radius: 30px;
  padding-left: 34px;
  padding-right: 34px;
}

