<footer class="container-fluid text-center mt-5">
    <div class="row text-white">
        <h4 class="mt-5">Fair Recruiting</h4>
        <p class="fs-6 mt-3">
            Den här sidan drivs av © Fair Recruiting 2021</p>
    </div>
</footer>