@mixin shadow($size: 0 3px 2px, $color: rgba(0,0,0,.03)) {
  box-shadow: $size $color;
}

@mixin shadow-lighten($color, $amount: 15%) {
  box-shadow: 0 1px 2px color_lighten($color, $amount);
}

@mixin button-shadow($color, $amount: 15%) {
  @include shadow-lighten($color, $amount);
}


@mixin children-margin() {
  margin: 0 8px 10px 0;
}
