$colors: (
  // base color
        primary: #2D5A92,
        secondary: #aea9a9,

  // notification color
        success: #47c363,
        info: #3abaf4,
        warning: #ffa426,
        danger: #fc544b,

  // base coulor
        light: #fcfcfc,
        dark: #191d21,
        white: #ffffff,
        muted: #808688,
        body: #F5F5F5,
);

$font_weight: 400;
$font_size: 14px;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

