$colors: (
  // base color
        primary: #3970d4,
        secondary: #aea9a9,

  // notification color
        success: #47c363,
        info: #3abaf4,
        warning: #ffa426,
        danger: #fc544b,

  // base coulor
        light: #e3eaef,
        grey: #6c757d,
        whitesmoke: #f7f9f9,
        dark: #191d21,
        white: #ffffff,
        muted: #98a6ad,
        body: #ececec,
        font: #6c757d,
        fontdark: #34395e,
);

$font_weight: 400;
$font_size: 14px;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

