body{
  background-color: #F5F5F5;
}

footer{
  background-image: url("../../public/images/dna_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 196px;
  width: 100%;
  left: 0px;
  margin-top: 80px;
  border-radius: 0px;
  -webkit-box-shadow: inset -1px -172px 59px -71px rgba(0,0,0,0.53);
  -moz-box-shadow: inset -1px -172px 59px -71px rgba(0,0,0,0.53);
  box-shadow: inset -1px -172px 59px -71px rgba(0,0,0,0.53);
}