.banner{
  z-index: 5;

  img{
    height: 100%;
    width: 100%;
  }
}

.banner_2{
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: 0px 0px 0px 8px rgba(60, 60, 60, 0.3);

  width: 250px;
  height: 200px;
  background-color: white;
  position: relative;
  top: -35%;
  left: 50%;
  z-index: 10;


  img{
    height: 80%;
    width: 70%;
    margin: 10% 15%;
  }
}