<!-- ======= Media section ======= -->
<section  class="align-items-center">

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-12 d-flex flex-column justify-content-center text-center">
                <h3 class="mt-5">Om arbetsgivaren</h3>
                <p class="fs-5 mt-3">
                    Burger King är ett av världens största restaurangföretag.
                    För oss är självklart engagerade,<br/> motiverade och trevliga medarbetare nyckeln
                    till vår framgång. Därför värderar vi vår personal<br/> högt och erbjuder en tydlig
                    karriärstege med fortbildning och goda utvecklingsmöjligheter.</p>
            </div>

            <a href="#about" class="mt-4 mb-4 text-decoration-none">
                www.burgerking.se
            </a>

            <div class="col-md-6 d-flex justify-content-center mb-3">
                    <a href="#about" class="btn btn-lg btn-primary">
                        Fler jobb hos Burger King
                    </a>
            </div>
        </div>
    </div>

</section><!-- Media end -->