<!-- ======= Banner section ======= -->
<section  class="align-items-center brand-banner">
    <div class="container h-100">
        <div class="row h-100 d-flex align-content-center">
            <div class="col-lg-5 h-100">
                <div class="banner-text">
                    <h1 class="mt-2 display-2 font-weight-bold desc-banner">Burger King</h1>
                    <h4 class="display-6 mt-1">Vi söker servicefokuserade <br/>restaurangmedarbetare</h4>

                    <div class="row mt-md-5 mb-md-5">
                        <div class="col-md-12">
                            <p class="fs-6">
                                <img src="https://img.icons8.com/material-rounded/24/000000/marker.png"/> <span>
                                Burger King Varberg, Varbergs Kommun - Tillsvidare - Deltid</span>
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-5 m-1">
                            <a href="#about"
                               class="btn btn-lg btn-primary btn-round w-100">
                                <span>Ansök Här</span>
                            </a>
                        </div>
                        <div class="col-lg-5 m-1">
                            <a href="#"
                               class="btn btn-lg btn-outline-primary btn-round w-100">
                                <span>Gå tillbaka</span>
                            </a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-7 justify-content-center h-100">
                <div class="banner">
                    <img src="{{ asset('images/banner_burger.png') }}">
                </div>
                <div class="banner_2">
                    <img src="{{ asset('images/burger_king_logo.png') }}">
                </div>
            </div>
        </div>
    </div>
</section><!-- Banner end -->