<!-- ======= Banner section ======= -->
<section  class="align-items-center mt-5">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 class="display-3 mt-5">Burger King</h1>
                <h2 class="display-5 mt-1">Vi söker servicefokuserade restaurangmedarbetare</h2>

                <div class="row mt-md-5 mb-md-5">
                    <div class="col-md-12">
                        <p class="fs-5">
                            <i class="fas fa-map-signs"></i> <span> Burger King Varberg, Varbergs Kommun - Tillsvidare - Deltid</span>
                        </p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-5 m-1">
                        <a href="#about"
                           class="btn btn-lg btn-primary btn-round w-100">
                            <span>Ansök Här</span>
                        </a>
                    </div>
                    <div class="col-md-5 m-1">
                        <a href="#"
                           class="btn btn-lg btn-outline-primary btn-round w-100">
                            <span>Gå tillbaka</span>
                        </a>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

            <div class="col-lg-6">

            </div>
        </div>
    </div>

</section><!-- Banner Hero -->