<!-- ======= Desc section ======= -->
<section  class="align-items-center">

    <div class="container">
        <p class="fs-5">
            <span> Vi vet att en anställd som trivs skapar goda gästupplevelser.
                Vi söker dig som tror på att gott ledarskap är grunden till god service.
                Som arbetsledare har du 100% ansvar för att driften fungerar under dina skift.
                Du fördelar arbetsuppgifter, utvecklar och motiverar dina medarbetare.
                Som arbetsledare på Burger King är du med och ansvarar för:<br/><br/>

                Driften av restaurangen<br/>
                Utvecklingen och utbildningen av personalen<br/>
                Ekonomiska resultat<br/>
                Restaurangens gästupplevelse, matkvalitet och renlighet<br/>
                Varför ska du välja oss?<br/><br/>

                För att du är en person som tycker om att ta ansvar och fatta beslut<br/>
                För att du tycker om att utvecklas och lära nytt<br/>
                Vi erbjuder flexibel arbetstid<br/>
                Vi erbjuder ett spännande och varierande arbete i högt tempo<br/>
                Hos oss skaffar du dig värdefull ledarerfarenhet som är efterfrågad även i många andra branscher<br/>
                Önskar du att utvecklas finns det många karriärmöjligheter hos oss,<br/>
                både inom Burger King, inom något av våra andra varumärken eller på vårt huvudkontor. Vi söker dig som:<br/><br/>

                Har en naturlig fallenhet att leda och inspirera andra genom arbetsglädje och fokus på goda resultat<br/>
                Som förstår vikten av att vara en god förebild<br/>
                Som gärna har tidigare erfarenhet av servicebranschen<br/>
                Känner du igen dig i detta så tycker vi du ska skicka din ansökan redan idag! Välkommen!<br/><br/>

                #welcometalent<br/><br/>

                Övrigt<br/>
                Rekrytering sker löpande<br/>
                Arbetstid 16-01<br/>
            </span>
        </p>
    </div>
</section><!-- Desc end -->