<!-- ======= Media section ======= -->
<section  class="align-items-center mt-5 bg-white" style="background-color: #fff;">

    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-12 d-flex flex-column justify-content-center text-center">
                <h3 class="mt-5">Se hur du matchar med det här jobbet</h3>
                <p class="fs-5 mt-3">I din ansökan kommer du att få svara på frågor.
                    Då kan vi matcha dina kunskaper och<br/> personliga egenskaper med rollen och arbetsplatsens kultur.</p>
            </div>
            <div class="col-md-12">
                <a href="#" class="btn btn-lg btn-primary btn-round mt-3 mb-3">
                    Ansök Här
                </a>
            </div>

            <div class="col-md-6 d-flex justify-content-center">
                <div class="col-md-2">
                    <img class="mt-4 mb-4" src="https://img.icons8.com/color/48/000000/linkedin-circled--v4.png"/>
                </div>
                <div class="col-md-2">
                    <img class="mt-4 mb-4" src="https://img.icons8.com/color/48/000000/facebook-circled.png"/>
                </div>
                <div class="col-md-2" >
                    <svg class="mt-4 mb-4" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         width="48" height="48"
                         viewBox="0 0 172 172"
                         style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,161.68c-41.79691,0 -75.68,-33.88309 -75.68,-75.68v0c0,-41.79691 33.88309,-75.68 75.68,-75.68v0c41.79691,0 75.68,33.88309 75.68,75.68v0c0,41.79691 -33.88309,75.68 -75.68,75.68z" fill="#cccccc"></path><g fill="#ffffff"><path d="M39.41667,52.46v1.86333v65.21667h93.16667v-67.08zM43.14333,56.18667h85.71333v4.66925c-0.79059,0.68907 -33.88695,29.53405 -36.6407,31.93142c-2.41702,2.1042 -4.87935,2.53297 -6.21596,2.53297c-1.33528,0 -3.79859,-0.42845 -6.21596,-2.53297c-2.75376,-2.39737 -35.85011,-31.24235 -36.6407,-31.93142zM43.14333,65.78356c4.54276,3.9599 31.61638,27.56156 34.19872,29.80969c3.1689,2.75878 6.5237,3.44644 8.65795,3.44644c2.13292,0 5.48869,-0.68734 8.65795,-3.44644c2.58232,-2.24812 29.65577,-25.84648 34.19872,-29.80606v50.02613h-85.71333z"></path></g></g></svg>
                </div>
                <div class="col-md-2">
                    <img  class="mt-4 mb-4" src="https://img.icons8.com/color/48/000000/twitter-circled--v5.png"/>
                </div>
            </div>
        </div>
    </div>

</section><!-- Media end -->